body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

/* h2{
    text-align: left;
} */

h1{
    color: rgb(69, 103, 255);
}

.apply{
    margin-top: -10px;
    padding-left: 110px;
}
#apply{
    padding: 10px 25px;
    background-color: rgb(105, 139, 249);
    color: white;
    border: 5px solid rgb(246, 163, 163);
    border-radius: 5px;
    font-weight: 600;
}
#apply:hover{
    background-color: white;
    color: green;
    border: 5px solid green;
    font-weight: 600;
}
span{
    color: red;
}

.signup{
   margin-top: 25px;
   margin-left: -60px;
   text-align: center;
}
.signup a{
    color: rgb(30, 83, 255);;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
}
.signup a:hover{
    color: green;
}


.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.main1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
}


.set{
    text-align: left;
   margin-top: 150px;
   padding-right: 150px;
}


.sec{
   margin-bottom: 50px;
   margin-top: 50px;
}

.input{
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 50px;
   border: 3px solid rgb(105, 139, 249);
   background-color: white;
  font-size: 1em;
  font-weight: 600;
}

.label1{
    font-size: 1.1em;
    color: rgb(77, 77, 252);
    padding-right: 35px;
}

.label2{
    font-size: 1.1em;
    color: rgb(77, 77, 252);
    padding-right: 10px;
}

.label3{
    font-size: 1.1em;
    color: rgb(77, 77, 252);
    padding-right: 10px;
}

.label4{
    font-size: 1.1em;
    color: rgb(77, 77, 252);
    padding-right: 50px;
}

.label5{
    font-size: 1.1em;
    color: rgb(77, 77, 252);
    padding-right: 20px;
}

.label6{
    font-size: 1.1em;
    color: rgb(77, 77, 252);
    padding-right: 30px;
}

.title{
    margin-top: 50px;
    text-align: center;
}