<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activation</title>
    <link rel="stylesheet" href="/login/design.css">
</head>
</head>
<body>
    <div class="box">
        <h1>Click below to activate your account</h1>
    <h2><a href="<%= activationLink %>"><%= activationLink %></a></h2>
    </div>
    
</body>
</html>