<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
    <link rel="stylesheet" href="/login/design.css">
</head>
<body>
    <div class="box">
        <h1>Dear <%=name%> your account is activated!!!</h1>
        <div class="signup">
            <a href="/">Login</a>
        </div>
    </div>
</body>
</html>