<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home/home.css">
</head>
<body>
   <h1>Welcome to the Darshak Jadav World!</h1>

   <div class="main">
    <table>
        <tr>
            <th>Task</th>
            <th>View</th>
        </tr>
        <tr>
            <td>Event Handling</td>
            <td><a href="http://localhost:3001/home/event">View</a></td>
        </tr>
        <tr>
            <td>Dynamic Table</td>
            <td><a href="http://localhost:3001/home/dynamic">View</a></td>
        </tr>
        <tr>
            <td>Kuku kube</td>
            <td><a href="http://localhost:3001/home/koko">View</a></td>
        </tr>
        <tr>
            <td>Tic-Tac-Toe</td>
            <td><a href="http://localhost:3001/home/tic_tac_toe">View</a></td>
        </tr>
        <tr>
            <td>Add User - Fetch through json</td>
            <td><a href="http://localhost:3001/home/adduser">View</a></td>
        </tr>
        <tr>
            <td>Grid Table - List(ASC -DESC)</td>
            <td><a href="http://localhost:3001/home/list">View</a></td>
        </tr>
    </table>
   </div>
</body>
</html>