<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JOB APPLICATION FORM</title>
<style>
    .f1{
    padding: 15px;
}
span{
      color: red;
    }
    #error,#error1,#error2,#vip{
      color: red;
    }
    #vipp{
      color:rgb(2, 92, 127);
    }

</style>
  </head>
  <body >
    <div style="text-align: center">
      <h1><b>Job Application Form</b></h1>
    </div>
       <button onclick="getId()">Update</button>
    </div>
    <form action="create" method="post" id="form1" name="form1" onsubmit="return validateForm()">
      <div>
        <span id="vipp">( <span id="vip">*</span> Fields are required )</span>
        <div id="error"></div>
        <fieldset >
          <legend><b>Basic Details</b></legend>
          <br />
          <div class="f1">
            <table>
              <tr>
                <td><span>*</span><label for="first_name">First Name</label>
                  <input type="text" name="first_name" id="first_name " placeholder="Enter your First Name" autofocus/></td>
                <td><span>*</span><label for="last_name">Last Name</label>
                  <input type="text" name="last_name" id="last_name" placeholder="Enter your Last Name" /></td>
              </tr>
              <tr>
                <td>
                  <span>*</span><label for="deg1">Designation</label>
                  <input type="text" name="deg1" id="deg1" placeholder="Enter your Designation" />
                </td>
                <td><label for="address_1">Address_1 </label>
                  <textarea name="address_1" id="address_1" ></textarea></td>
              </tr>
              <tr>
                <td><span>*</span><label for="email">Email </label>
                  <input type="text" name="email" id="email" placeholder="Enter your Email"  /></td>
                <td><label for="address_2">Address 2  </label>
                  <textarea name="address_2" id="address_2"></textarea></td>
              </tr>
              <tr>
                <td><span>*</span><label for="phone_number">Phone Number </label>
                  <input type="text" name="phone_no" id="phone_number" placeholder="Enter your Phone Number" /></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><label for="city">city </label> 
                  <input type="text" name="city" id="city" placeholder="Enter your City"/></td>
              </tr>
              <tr>
                <td>
                 Gender &nbsp;&nbsp;&nbsp;&nbsp; 
                  <label for="male">Male </label>   
                  <input type="radio" name="gender" id="male" value="male"  />
                  &nbsp;  <label for="female">Female </label> 
                  <input type="radio" name="gender" id="female" value="female" />
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <label for="state"> State</label>  
                  <select name="state" id="state">
                    <option value="">
                      -----------Select State--------------
                    </option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">
                      Andaman and Nicobar Islands
                    </option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">
                      Dadar and Nagar Haveli
                    </option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="relationship"> Realtionship Status </label>
                  <select name="relationship_status" id="relationship" >
                    <option value="">----Select you Status----</option>
                    <option value="married">Married</option>
                    <option value="unmarried">unmarried</option>
                  </select>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <label for="zip_code"> Zip Code </label>
                  <input type="text" name="zip_code" id="zip_code" placeholder="Enter your Zip code" />
                </td>
              </tr>
              <tr>
                <td>
                  <!-- <label>Input Date (YYYY-MM-DD):
                    <input type="text" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
                    </label> -->

                    <span>*</span><label for="date_of_birth"> Date of Birth </label> 
                  <input type="text" name="date_of_birth" id="date_of_birth" placeholder="YYYY-MM-DD" />
                </td>
              </tr>
            </table>
            <br />
          </div>
        </fieldset>
      </div>
      <br />
      <div>
        <div id="error1"></div>
        <fieldset>
          <legend><b>Education Details</b></legend>
          <br />
          &nbsp;SSC Result<br /><br />
          <table>
            <tr>
              <td>
                <span>*</span><label for="ssc_name">Name of Board </label> 
                <input type="text" name="ssc_name" id="ssc_name" placeholder="SSC board"/>
              </td>
              <td>
                <span>*</span><label for="ssc_passing_year"> Passing Year</label>
                <input type="text" name="ssc_passing_year" id="ssc_passing_year" placeholder="YYYY"/>
              </td>

              <td>
                <span>*</span><label for="ssc_percentage"> Percentage</label>
                <input type="text" name="ssc_percentage" id="ssc_percentage" placeholder="00.00" />
              </td>
            </tr>
          </table>
          <br />
          <hr />
          <br />
          &nbsp;HSC/Diploma Result<br /><br />
          <table>
            <tr>
              <td>
                <span>*</span><label for="hsc_name">Name of Board </label> 
                <input type="text" name="hsc_name" id="hsc_name" placeholder="HSC board"/>
              </td>

              <td>
                <span>*</span><label for="hsc_passing_year"> Passing Year</label>
                <input type="text" name="hsc_passing_year" id="hsc_passing_year" placeholder="YYYY"/>
              </td>

              <td>
                <span>*</span><label for="hsc_percentage"> Percentage</label>
                <input type="text" name="hsc_percentage" id="hsc_percentage" placeholder="00.00"/>
              </td>
            </tr>
          </table>
          <br />
          <hr />
          <br />
          &nbsp;Bechlor Degree<br /><br />
          <table>
            <tr>
              <td>
                <span>*</span><label for="b_course_name">Course Name</label>
                <input type="text" name="b_course_name" id="courseb_course_name_name" />
              </td>

              <td>
                <span>*</span><label for="b_university">University</label>
                <input type="text" name="b_university" id="b_university" />
              </td>

              <td>
                <span>*</span><label for="b_passing_year">Passing Year</label>
                <input type="text" name="b_passing_year" id="b_passing_year" placeholder="YYYY" />
              </td>

              <td>
                <span>*</span><label for="b_percentage">Percentage</label>
                <input type="text" name="b_percentage" id="b_percentage" placeholder="00.00"/>
              </td>
            </tr>
          </table>
          <br />
          <hr />
          <br />
          &nbsp;Master Degree<br /><br />
          <table>
            <tr>
              <td>
                <label for="m_course_name">Course Name</label>
                <input type="text" name="m_course_name" id="m_course_name" />
              </td>

              <td>
                <label for="m_university">University</label> 
                <input type="text" name="m_university" id="m_university" />
              </td>

              <td>
                <label for="m_passing_year">Passing Year</label>
                <input type="text" name="m_passing_year" id="m_passing_year" placeholder="YYYY"/>
              </td>

              <td>
                <label for="m_percentage">Percentage</label>
                <input type="text" name="m_percentage" id="m_percentage" placeholder="00.00"/>
              </td>
            </tr>
          </table>
          <br />
          <br />
        </fieldset>
      </div>
      <br />
      <div>
        <fieldset>
          <legend><b>Work Experience</b></legend>
          <br />
          <table>
            <tr>
              <td>
                <label for="company_name">Company Name</label>
                <input type="text" name="company_name" id="company_name" />
              </td>

              <td>
                <label for="deg2">Designation</label>
                <input type="text" name="deg2" id="deg2" />
              </td>

              <td>
                <label for="from">From</label>
                <input type="text" name="from_date" id="from" placeholder="YYYY-MM-DD"/>
              </td>

              <td>
                <label for="to">To</label>
                <input type="text" name="to_date" id="to" placeholder="YYYY-MM-DD" />
              </td>
            </tr>
          </table>
          <br /><br /><br />
          <table>
            <tr>
              <td>
                <label for="company_name">Company Name</label>
                <input type="text" name="company_name" id="company_name" />
              </td>

              <td>
                <label for="deg2">Designation</label>
                <input type="text" name="deg2" id="deg2" />
              </td>

              <td>
                <label for="from">From</label>
                <input type="text" name="from_date" id="from" placeholder="YYYY-MM-DD" />
              </td>

              <td>
                <label for="to">To</label>
                <input type="text" name="to_date" id="to" placeholder="YYYY-MM-DD"/>
              </td>
            </tr>
          </table>
          <br /><br /><br />
          <table>
            <tr>
              <td>
                <label for="company_name">Company Name</label>
                <input type="text" name="company_name" id="company_name" />
              </td>

              <td>
                <label for="deg2">Designation</label>
                <input type="text" name="deg2" id="deg2" />
              </td>

              <td>
                <label for="from">From</label>
                <input type="text" name="from_date" id="from" placeholder="YYYY-MM-DD"/>
              </td>

              <td>
                <label for="to">To</label>
                <input type="text" name="to_date" id="to" placeholder="YYYY-MM-DD" />
              </td>
            </tr>
          </table>
          <br /><br />
        </fieldset>
      </div>
      <br />
      <div>
        <table>
          <tr>
            <td>
              <div>
                <fieldset>
                  <legend><b>Language Known</b></legend>
                  <br />
                  <table>
                    <tr>
                      <td>
                        <input type="checkbox" name="hindi" id="hindi" value="hindi" />
                        <label for="hindi">Hindi</label>
                      </td>

                      <td>
                        <input type="checkbox" name="hindiread" id="read"  value="read" />
                        <label for="read"> read</label>
                      </td>

                      <td>
                        <input type="checkbox" name="hindiwrite" id="write" value="write"/>
                        <label for="write">write</label> 
                      </td>

                      <td>
                        <input type="checkbox" name="hindispeak" id="speak" value="speak" />
                        <label for="speak">speak</label>
                      </td>
                    </tr>
                  </table>
                  <br />
                  <table>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name="english"
                          id="english"
                          value="english"
                        />
                        <label for="english">English</label>  
                      </td>

                      <td>
                        <input type="checkbox" name="englishread" id="read"  value="read" /><label for="read" > read</label>
                      </td>

                      <td>
                        <input type="checkbox" name="englishwrite" id="write"  value="write"/><label for="write">write</label> 
                      </td>

                      <td> 
                        <input type="checkbox" name="englishspeak" id="speak" value="speak"/> <label for="speak">speak</label>
                      </td>
                    </tr>
                  </table>
                  <br />
                  <table>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name="gujrati"
                          id="gujrati"
                          value="gujrati"
                        />
                        <label for="gujrati">Gujrati</label>
                      </td>

                      <td>
                        <input type="checkbox" name="gujratiread" id="read"  value="read"/><label for="gujrati"> read</label>
                      </td>

                      <td>
                        <input type="checkbox" name="gujratiwrite" id="write" value="write" /><label for="gujrati">write</label> 
                      </td>

                      <td>
                        <input type="checkbox" name="gujratispeak" id="speak" value="speak"/><label for="gujrati">speak</label>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </div>
            </td>
            <td>
              <fieldset>
                <legend><b>Technology you know</b></legend>
                <table>
                  <tr>
                    <td><input type="checkbox" name="php" id="php" value="php"/><label for="php">PHP</label></td>

                    <td>
                      <input
                        type="radio"
                        name="phplevel"
                        id="beginner"
                        value="beginner"
                      /><label for="beginner">Beginner</label>
                    </td>

                    <td>
                      <input
                        type="radio"
                        name="phplevel"
                        id="mideator"
                        value="mideator"
                      /><label for="mideator">Mideator</label>
                    </td>

                    <td>
                      <input type="radio" name="phplevel" id="expert" value="expert"/><label for="expert">Expert</label>
                    </td>
                  </tr>
                </table>
                <br />
                <table>
                  <tr>
                    <td>
                      <input type="checkbox" name="mysql" id="mysql" value="mysql" />
                      <label for="mysql">Mysql</label>
                    </td>

                    </td>

                    <td>
                        <input
                        type="radio"
                        name="mysqllevel"
                        id="beginner"
                        value="beginner"
                      /><label for="beginner">Beginner</label>
                    </td>

                    <td>
                        <input
                        type="radio"
                        name="mysqllevel"
                        id="mideator"
                        value="mideator"
                      /><label for="mideator">Mideator</label>
                    </td>

                    <td>
                        <input type="radio" name="mysqllevel" id="expert" value="expert"/>
                      <label for="expert">Expert</label>
                    </td>
                  </tr>
                </table>
                <br />
                <table>
                  <tr>
                    <td>
                      <input
                        type="checkbox"
                        name="laravel"
                        id="laravel"
                        value="laravel"
                      /><label for="laravel">Laravel</label>
                    </td>

                    <td>
                      <input
                        type="radio"
                        name="laravellevel"
                        id="beginner"
                        value="beginner"
                      /><label for="beginner">Beginner</label>
                    </td>

                    <td>
                      <input
                        type="radio"
                        name="laravellevel"
                        id="mideator"
                        value="mideator"
                      /><label for="mideator">Mideator</label>
                    </td>

                    <td>
                      <input type="radio" name="laravellevel" id="expert" value="expert" /><label for="expert">Expert</label>
                    </td>
                  </tr>
                </table>
                <br />
                <table>
                  <tr>
                    <td>
                      <input type="checkbox" name="oracle" id="oracle" value="oracle" /><label for="oracle">Oracle</label>
                    </td>

                    <td>
                      <input
                        type="radio"
                        name="oraclelevel"
                        id="beginner"
                        value="beginner"
                      /><label for="beginner">Beginner</label>
                    </td>

                    <td>
                      <input
                        type="radio"
                        name="oraclelevel"
                        id="mideator"
                        value="mideator"
                      /><label for="mideator">Mideator</label>
                    </td>
                    <td>
                      <input type="radio" name="oraclelevel" id="expert" value="expert"/><label for="expert">Expert</label>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      <br />
      <div>
        <fieldset>
          <legend><b>Reference Contact</b></legend>
          <br /><br />
          <table>
            <tr>
              <td><label for="name">  Name</label>  <input type="text" name="ref_name" id="name"  placeholder="Person Name" /></td>

              <td>
                <label for="contact_number"> Contact Number</label> 
                <input type="text" name="ref_contact_no" id="contact_number"/>
              </td>

              <td>
                <label for="relation">  Relation </label> <input type="text" name="relation" id="relation" placeholder="Relation with Person" />
              </td>
            </tr>
          </table>
          <br /><br />
          <table>
            <tr>
              <td><label for="name">  Name</label> 
                <input type="text" name="ref_name" id="name" placeholder="Person Name" /></td>

              <td>
                <label for="contact_number"> Contact Number</label> 
                <input type="text" name="ref_contact_no" id="contact_number" />
              </td>

              <td>
                <label for="relation">  Relation </label>
                <input type="text" name="relation" id="relation" placeholder="Relation with Person"/>
              </td>
            </tr>
          </table>
          <br /><br />
        </fieldset>
      </div>
      <br />
      <div>
        <div id="error2"></div>
        <fieldset>
          <legend><b>Preferences</b></legend>
          <br />
          <table>
            <tr>
              <td>
                <span>*</span><label for="location"> Prefered Location input</label>  
                <select name="preference_location" id="location">
                  <option value="">----Select----</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Surat">Surat</option>
                  <option value="Vadodara">Vadodara</option>
                </select>
              </td>

              <td>
                <table>
                  <tr>
                    <td>
                      <span>*</span><label for="notice"> Notice Period</label>  
                      <input type="text" name="notice_period" id="notice" />
                    </td>
                  </tr>
                </table>
                <br />
                <table>
                  <tr>
                    <td>
                      <span>*</span><label for="current_ctc"> Current CTC</label> 
                        <input type="text" name="current_ctc" id="current_ctc" />
                    </td>
                  </tr>
                </table>
                <br />
                <table>
                  <tr>
                    
                    <td>
                      <span>*</span><label for="exp_ctc"> Expected CTC</label> 
                      <input type="text" name="expected_ctc" id="exp_ctc" />
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <label for="department">Department</label> 
                <span>*</span><select name="department" id="department">
                  <option value="">----Select----</option>
                  <option value="Design">Design</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Developing">Developing</option>
                </select>
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
      <br />
      <div>
        <input type="submit" value="Apply"/>
      </div>
    </form>
  <script>

    function validateForm(){
      var fnameVal = document.form1.first_name.value;
      var lnameVal = document.form1.last_name.value;
      var desginationVal = document.form1.deg1.value;
      var emailVal = document.form1.email.value;
      var phoneVal = document.form1.phone_no.value;
      var date_of_birthVal = document.form1.date_of_birth.value;
      var ssc_nameVal = document.form1.ssc_name.value;
      var ssc_passing_yearVal = document.form1.ssc_passing_year.value;
      var ssc_percentageVal = document.form1.ssc_percentage.value;
      var hsc_nameVal = document.form1.hsc_name.value;
      var hsc_passing_yearVal = document.form1.hsc_passing_year.value;
      var hsc_percentageVal = document.form1.hsc_percentage.value;
      var b_course_nameVal = document.form1.b_course_name.value;
      var b_universityVal = document.form1.b_university.value;
      var b_passing_yearVal = document.form1.b_passing_year.value;
      var b_percentageVal = document.form1.b_percentage.value;
      var preference_locationVal = document.form1.preference_location.value;
      var notice_periodVal = document.form1.notice_period.value;
      var expected_ctcVal = document.form1.expected_ctc.value;
      var current_ctcVal = document.form1.current_ctc.value;
      var departmentVal = document.form1.department.value;
     
     
     if (notNullAllowed(fnameVal,lnameVal,desginationVal,emailVal,phoneVal,date_of_birthVal
     ,ssc_nameVal,ssc_passing_yearVal,ssc_percentageVal,
     hsc_nameVal,hsc_passing_yearVal,hsc_percentageVal,
     b_course_nameVal,b_passing_yearVal,b_percentageVal,b_universityVal,preference_locationVal
     ,notice_periodVal,expected_ctcVal,current_ctcVal,departmentVal) == false) {
      return false;
     }
     else{
      return true;
     }
      
    }

    function ValidateEmail(input) {
    var validRegex =
      /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

    if (!input.match(validRegex)) {
      var error = document.getElementById('error');
      error.innerText = "Invalid email address!"
      document.form1.email.focus();
      return false;
    } else {
      return true;
    }
  }

  function ValidateDate(input) {
    var validRegex = /^\d{4}-\d{2}-\d{2}$/; 
    
    if (!input.match(validRegex)) {
      var error = document.getElementById('error');
      error.innerText = "Invalid Date Format.. Please follow YYYY-MM-DD Format!"
      document.form1.date_of_birth.focus();
      return false;
    } else {
      return true;
    }
  }

  function ValidatePhone(input) {
    var validRegex =  /^\+?([0-9]{3})\)?[ -]?([0-9]{3})[ -]?([0-9]{4})$/
    if (!input.match(validRegex)) {
      var error = document.getElementById('error');
      error.innerText = "Please Enter Valid Phone Number like,(9876543210,9876543210,987 654 3210,987-654-3210)!"
      document.form1.phone_no.focus();
      return false;
    } else {
      return true;
    }
  }
  
  function notNullAllowed(fnameVal,lnameVal,desginationVal,emailVal,phoneVal,date_of_birthVal
  ,ssc_nameVal,ssc_passing_yearVal,ssc_percentageVal,
     hsc_nameVal,hsc_passing_yearVal,hsc_percentageVal,
     b_course_nameVal,b_passing_yearVal,b_percentageVal,b_universityVal,preference_locationVal
     ,notice_periodVal,expected_ctcVal,current_ctcVal,departmentVal) {
  if (fnameVal == null || fnameVal ==""){  
    var error = document.getElementById('error');
    error.innerText = "First Name can't be blank!"
    document.form1.first_name.focus();
  return false;  
  }
  else if (lnameVal == null || lnameVal ==""){  
    var error = document.getElementById('error');
    error.innerText = "Last Name can't be blank!"
    document.form1.last_name.focus();
  return false;  
  }
  else if (desginationVal == null || desginationVal ==""){  
    var error = document.getElementById('error');
    error.innerText = "Designation can't be blank!"
    document.form1.deg1.focus();
  return false;  
  }
  else if (emailVal == null || emailVal ==""){  
    var error = document.getElementById('error');
    error.innerText = "Email can't be blank!"
    document.form1.email.focus();
  return false;  
  }
   else if (ValidateEmail(emailVal) == false) {
    return false;
  }
  else if (phoneVal == null || phoneVal ==""){  
    var error = document.getElementById('error');
    error.innerText = "Phone can't be blank!"
    document.form1.phone_no.focus();  
  return false;  
  }
  else if (ValidatePhone(phoneVal) == false) {
    return false;
  }
  else if (date_of_birthVal == null || date_of_birthVal ==""){  
    var error = document.getElementById('error');
    error.innerText = "Date of Birth can't be blank!"
    document.form1.date_of_birth.focus();  
  return false;  
  }
  else if (ValidateDate(date_of_birthVal) == false) {
    return false;
  }
  else if (ssc_nameVal == null || ssc_nameVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "SSC Details can't be blank!"
    document.form1.ssc_name.focus();  
  return false;  
  }
  else if (ssc_passing_yearVal == null || ssc_passing_yearVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "SSC Details can't be blank!"
    document.form1.ssc_passing_year.focus();  
  return false;  
  }
  else if (ssc_percentageVal == null || ssc_percentageVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "SSC Details can't be blank!"
    document.form1.ssc_percentage.focus();  
  return false;  
  }
  else if (hsc_nameVal == null || hsc_nameVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "HSC Details can't be blank!"
    document.form1.hsc_name.focus();  
  return false;  
  }
  else if (hsc_passing_yearVal == null || hsc_passing_yearVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "HSC Details can't be blank!"
    document.form1.hsc_passing_year.focus();  
  return false;  
  }
  else if (hsc_percentageVal == null || hsc_percentageVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "HSC Details can't be blank!"
    document.form1.hsc_percentage.focus();  
  return false;  
  }
  else if (b_course_nameVal == null || b_course_nameVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "Bechlor Details can't be blank!"
    document.form1.b_course_name.focus();  
  return false;  
  }
  else if (b_universityVal== null || b_universityVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "Bechlor Details can't be blank!"
    document.form1.b_university.focus();  
  return false;  
  }
  else if (b_passing_yearVal == null || b_passing_yearVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "Bechlor Details can't be blank!"
    document.form1.b_passing_year.focus();  
  return false;  
  }
  else if (b_percentageVal == null || b_percentageVal ==""){  
    var error = document.getElementById('error1');
    error.innerText = "Bechloer Details can't be blank!"
    document.form1.b_percentage.focus();  
  return false;  
  }
  else if (preference_locationVal == null || preference_locationVal ==""){  
    var error = document.getElementById('error2');
    error.innerText = "Preference Location can't be blank!"
    document.form1.preference_location.focus();  
  return false;  
  }
  else if (notice_periodVal == null || notice_periodVal ==""){  
    var error = document.getElementById('error2');
    error.innerText = "Notice Period can't be blank!"
    document.form1.notice_period.focus();  
  return false;  
  }
  else if (current_ctcVal == null || current_ctcVal ==""){  
    var error = document.getElementById('error2');
    error.innerText = "Current CTC can't be blank!"
    document.form1.current_ctc.focus();  
  return false;  
  }
  else if (expected_ctcVal == null || expected_ctcVal ==""){  
    var error = document.getElementById('error2');
    error.innerText = "Expected CTC can't be blank!"
    document.form1.expected_ctc.focus();  
  return false;  
  }
  else if (departmentVal == null || departmentVal ==""){  
    var error = document.getElementById('error2');
    error.innerText = "Department can't be blank!"
    document.form1.department.focus();  
  return false;  
  }
  else{
    return true;
  }
  }

  function getId(){
    let id = prompt("Please Enter the user Id..!");
    console.log(id);
    if(id){
      window.location.href=`/home/update/${id}`
    }
    
  }
  </script>
    </body>
    </html>
    